{% extends "base.html" %}

{% block title %}Про нас{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-4 fw-bold text-primary text-center mb-4">Про нас</h1>
            <p class="fs-5 text-muted" style="line-height: 1.8; font-family: 'Roboto', sans-serif; font-weight: 400;">
                Ласкаво просимо до TechWorld — вашого надійного партнера у світі технологій! Ми спеціалізуємося на продажу найновішої електроніки та побутової техніки від провідних світових виробників. Наша місія — забезпечити вас якісною технікою за доступними цінами.
            </p>
            <p class="fs-5 text-muted" style="line-height: 1.8; font-family: 'Roboto', sans-serif; font-weight: 400;">
                У TechWorld ми віримо, що технології мають бути доступними та зрозумілими для кожного. Наша команда експертів постійно працює над тим, щоб підбирати найкращі рішення для наших клієнтів, допомагаючи їм залишатися на крок попереду у сучасному світі.
            </p>
            <p class="fs-5 text-muted mb-4" style="line-height: 1.8; font-family: 'Roboto', sans-serif; font-weight: 400;">
                Ми пропонуємо широкий асортимент товарів, включаючи смартфони, ноутбуки, телевізори, побутову техніку та аксесуари, щоб ви могли знайти все необхідне для свого повсякденного життя. Наші клієнти — наші пріоритети, тому ми завжди готові надати вам професійну консультацію та підтримку.
            </p>
        </div>
    </div>
</div>
{% endblock %}
