{% extends "base.html" %}
{% block title %}Регістрація{% endblock %}
{% block content %}

<h1 class="text-3xl text-center font-bold mb-4">Регістрація</h1>
<div class="circle"></div>
<div class="register-form-container">
    <form method="POST">
        <div class="form-field text-center">
            <input type="text" name="username" placeholder="Ім'я" required>
        </div>
        <div class="form-field text-center">
            <input type="email" name="email" placeholder="Почта" required>
        </div>
        <div class="form-field text-center">
            <input type="password" name="password" placeholder="Пароль" required>
        </div>
        <div class="form-field text-center">
            <input type="password" name="confirm_password" placeholder="Підтвердити пароль" required>
        </div>
        <div class="form-buttons text-center">
            <button class="button">Реєстрація</button>
            <div class="devider">або</div>
            <a href="{{ url_for('user.login') }}" class="button">у мене вже обліковий запис </a>
        </div>
    </form>
    
</div>

{% endblock %}
