{% extends "base.html" %}
{% block title %}Реєстрація{% endblock %}
{% block content %}

<div class="register-page">

    <div class="circle"></div>

    <div class="register-form-container">
        <h1 class="form-title">Реєстрація</h1>
        <form method="POST">
            <div class="form-field">
                <input type="text" name="username" placeholder="Ім'я" required>
            </div>
            <div class="form-field">
                <input type="email" name="email" placeholder="Пошта" required>
            </div>
            <div class="form-field">
                <input type="password" name="password" placeholder="Пароль" required>
            </div>
            <div class="form-field">
                <input type="password" name="confirm_password" placeholder="Підтвердити пароль" required>
            </div>
            <button type="submit" class="button">Реєстрація</button>
            <div class="divider">або</div>
            <a href="{{ url_for('user.login') }}" class="button button-login">У мене вже обліковий запис</a>
        </form>
    </div>
</div>

{% endblock %}
